apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: victoria-metrics-grafana
  namespace: {{ victoria_metrics_k8s_namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ victoria_metrics_k8s_grafana_hostname }}`)
      kind: Rule
{% if victoria_metrics_k8s_ui_middlewares | length > 0 %}
      middlewares:
{% for middleware in victoria_metrics_k8s_ui_middlewares %}
        - name: {{ middleware }}
{% endfor %}
{% endif %}
      services:
        - name: {{ victoria_metrics_k8s_release_name }}-grafana
          port: 80
{% if victoria_metrics_k8s_tls_enabled %}
  tls:
    certResolver: {{ victoria_metrics_k8s_tls_cert_resolver }}
{% endif %}