grafana:
  enabled: {{ victoria_metrics_k8s_grafana_enabled | default(true) | lower }}
  sidecar:
    dashboards:
      enabled: true
    datasources:
      enabled: true
  persistence:
    enabled: {{ victoria_metrics_k8s_persistence_enabled | default(true) | lower }}
{% if victoria_metrics_k8s_persistence_enabled | default(true) %}
    storageClassName: {{ victoria_metrics_k8s_default_storage_class | default('longhorn') }}
    size: {{ victoria_metrics_k8s_grafana_size | default('10Gi') }}
{% endif %}

defaultDashboardsEnabled: true

vmagent:
  enabled: true

vmsingle:
  enabled: true
  spec:
{% if victoria_metrics_k8s_persistence_enabled | default(true) %}
    storage:
      accessModes:
        - ReadWriteOnce
      storageClassName: {{ victoria_metrics_k8s_default_storage_class | default('longhorn') }}
      resources:
        requests:
          storage: {{ victoria_metrics_k8s_vmstorage_size | default('20Gi') }}
{% else %}
    storage: {}
{% endif %}

vmalert:
  enabled: true
  spec:
    extraArgs:
      notifier.blackhole: "true"

alertmanager:
  enabled: false

kube-state-metrics:
  enabled: true

nodeExporter:
  enabled: true