apiVersion: v1
kind: Secret
metadata:
  name: {{ jekyll_app_name }}-git
  namespace: {{ jekyll_namespace }}
type: Opaque
stringData:
  ssh: |
{{ jekyll_ssh_private_key.content | b64decode | indent(4, true) }}
  known_hosts: |
{{ jekyll_known_hosts_scan.stdout | indent(4, true) }}