apiVersion: v1
kind: Service
metadata:
  name: {{ jekyll_app_name }}
  namespace: {{ jekyll_namespace }}
spec:
  selector:
    app: {{ jekyll_app_name }}
  ports:
    - name: http
      port: {{ jekyll_service_port }}
      targetPort: {{ jekyll_container_port }}
      protocol: TCP