apiVersion: v1
kind: Service
metadata:
  name: {{ mqtt_app_name }}
  namespace: {{ mqtt_namespace }}
spec:
  selector:
    app: {{ mqtt_app_name }}
  ports:
    - name: mqtt
      port: {{ mqtt_service_port }}
      targetPort: {{ mqtt_container_port }}
{% if mqtt_websocket_enabled %}
    - name: websocket
      port: {{ mqtt_websocket_port }}
      targetPort: {{ mqtt_websocket_container_port }}
{% endif %}