apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ wavelog_app_name }}
  namespace: {{ wavelog_namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ wavelog_hostname }}`)
      kind: Rule
{% if wavelog_ingress_middlewares | length > 0 %}
      middlewares:
{% for middleware in wavelog_ingress_middlewares %}
        - name: {{ middleware }}
{% endfor %}
{% endif %}
      services:
        - name: {{ wavelog_app_name }}
          port: {{ wavelog_service_port }}
{% if wavelog_tls_enabled %}
  tls:
    certResolver: {{ wavelog_tls_cert_resolver }}
{% endif %}