apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ wavelog_app_name }}
  namespace: {{ wavelog_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ wavelog_storage_size }}
  storageClassName: {{ wavelog_storage_class }}