apiVersion: v1
kind: Secret
metadata:
  name: {{ wavelog_app_name }}
  namespace: {{ wavelog_namespace }}
type: Opaque
stringData:
  DB_HOST: {{ wavelog_db_host | quote }}
  DB_NAME: {{ wavelog_db_name | quote }}
  DB_USER: {{ wavelog_db_user | quote }}
  DB_PASSWORD: {{ wavelog_db_password | quote }}