apiVersion: v1
kind: Service
metadata:
  name: {{ wavelog_app_name }}
  namespace: {{ wavelog_namespace }}
spec:
  selector:
    app: {{ wavelog_app_name }}
  ports:
    - name: http
      port: {{ wavelog_service_port }}
      targetPort: {{ wavelog_container_port }}
      protocol: TCP