apiVersion: v1
kind: Service
metadata:
  name: {{ nodered_app_name }}
  namespace: {{ nodered_namespace }}
spec:
  selector:
    app: {{ nodered_app_name }}
  ports:
    - name: http
      port: {{ nodered_service_port }}
      targetPort: {{ nodered_container_port }}
      protocol: TCP