apiVersion: v1
kind: Secret
metadata:
  name: apps-postgres-secret
  namespace: apps
  labels:
    app.kubernetes.io/name: apps-postgres
    app.kubernetes.io/part-of: minidev-platform
    app.kubernetes.io/component: secret
type: Opaque
stringData:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: "{{ postgres_admin_password }}"
  WIKIJS_DB_PASSWORD: "{{ wikijs_db_password }}"
  GITEA_DB_PASSWORD: "{{ gitea_db_password }}"