apiVersion: v1
kind: Service
metadata:
  name: {{ plantuml_app_name }}
  namespace: {{ plantuml_namespace }}
spec:
  selector:
    app: {{ plantuml_app_name }}
  ports:
    - name: http
      port: {{ plantuml_service_port }}
      targetPort: {{ plantuml_container_port }}