apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ mariadb_app_name }}
  namespace: {{ mariadb_app_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ mariadb_app_storage_size }}
  storageClassName: {{ mariadb_app_storage_class }}