apiVersion: v1
kind: Secret
metadata:
  name: {{ mariadb_app_name }}
  namespace: {{ mariadb_app_namespace }}
type: Opaque
stringData:
  MARIADB_DATABASE: {{ mariadb_app_database_name | quote }}
  MARIADB_USER: {{ mariadb_app_database_user | quote }}
  MARIADB_PASSWORD: {{ mariadb_app_database_password | quote }}
  MARIADB_ROOT_PASSWORD: {{ mariadb_app_root_password | quote }}