apiVersion: v1
kind: Service
metadata:
  name: {{ mariadb_app_name }}
  namespace: {{ mariadb_app_namespace }}
spec:
  selector:
    app: {{ mariadb_app_name }}
  ports:
    - name: mysql
      port: {{ mariadb_app_service_port }}
      targetPort: {{ mariadb_app_container_port }}
      protocol: TCP